---
---

<header class="flex items-center justify-between px-4 py-6 sticky top-0 z-10 bg-blue-300">
  <a href="/"><!-- href="https://~/"の形にしたい -->
    <img src="/favicon.svg" alt="saunayuba ロゴ" width="40" height="40">
  </a>
  <div class="w-10 h-10 rounded-full bg-yellow-400">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>
